@font-face {
  font-family: "Playpen";
  src: url("/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf");
}

:root {
  --max-width: 768px;

  --border-radius-small: 5px;
  --border-radius-medium: 12px;
  --border-radius-img: 50%;

  --box-shadow: 1px 1px 25px rgba(1, 22, 39, 0.2);

  --font-mono: "Playpen";

  --color-primary-dark: #011627; /* 1, 22, 29 */
  --color-secondary-dark: #426b69; /* 66, 107, 105 */
  --color-primary-bright: #f5fffa; /* 245, 255, 250 */
  --color-secondary-bright: #ffc15e; /* 255, 193, 94 */
  --color-accent-dark: #af3e4d; /* 175, 62, 77 */
  --color-accent-bright: #d6fff4; /* 214, 255, 244 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
}

body {
  background-image: url("/tableware.jpg");
  background-position: center;
  background-size: cover;
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: var(--border-radius-medium);
  border: none;
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
  /* font-weight: bold; */
  padding: 10px 8px;
  box-shadow: var(--box-shadow);
  width: 50%;
  color: var(--color-primary-bright);
  font-family: var(--font-mono);
}

@media (min-width: 769px) {
  body {
    border: 3px solid var(--color-accent-bright); /* remove this later, only for orientation*/
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
