.main {
  border: 1px solid lightseagreen; /* only for orientation */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
