.main {
  border: 1px solid lightseagreen; /* only for orientation */
  padding: 6rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimg {
  position: absolute;
  top: -70px;
  left: 120px;
}

.signout_btn {
  background-color: var(--color-primary-bright);
  width: auto;
  padding-inline: 15px;
}
