.recipe_list {
  /* border: 1px solid green; */
  display: grid;
  /* justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px; */
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px 25px;
}

.recipe_listItem {
  list-style: none;
  position: relative;
}
.recipe_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2rem; */
  /* max-width: 100px; */
  gap: 10px;
}

.recipe_card h4 {
  /* text-align: center; */
  justify-self: flex-start;
  margin: 0;
}

.delete_btn {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  right: -9px;
  top: -20px;
  z-index: 2;
}

.img_container {
  width: 80%;
  height: 100%;
  border: 1px solid slateblue;
}

.recipe_card img {
  border-radius: var(--border-radius-medium);
  object-fit: cover;
}
