.back_btn {
  color: var(--color-primary-dark);
  background-color: transparent;
  padding: 0;
  margin-inline: 1rem;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  text-justify: center;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
}
