.content_container {
  border-left: 1.5px solid rgba(245, 255, 250, 0.3);
  border-top: 1.5px solid rgba(245, 255, 250, 0.3);
  background: rgba(245, 255, 250, 0.2);
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--box-shadow);
  position: relative;
  width: 80%;
}

.logo {
  position: absolute;
  top: -71px;
  right: 15px;
  height: 10rem;
  filter: drop-shadow(3px 3px 2px rgba(245, 255, 250, 0.5));
  z-index: 3;
}
