.content_container {
  border-right: 1.5px solid rgba(245, 255, 250, 0.3);
  border-bottom: 1.5px solid rgba(245, 255, 250, 0.3);
  background: rgba(245, 255, 250, 0.2);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--box-shadow);
  position: relative;
  width: 100%;
}
