.fieldset {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--color-accent-bright);
}

.fieldset label {
  margin: 0;
}

.input__radio {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid var(--color-secondary-dark);
  box-shadow: var(--box-shadow);
  background-color: var(--color-primary-bright);

  transition: 0.3s all ease-in;
  margin-right: 8px;

  position: relative;
  top: 4px;
}

.input__radio:checked {
  border: 6px solid var(--color-secondary-dark);
}
