.logo {
  box-shadow: none;
  position: absolute;
  top: -100px;
  right: 0;
}

.google_SI {
  width: 30vw;
  height: 5vh;
  box-shadow: none;
  filter: drop-shadow(3px 3px 2px rgba(66, 107, 105, 0.2));
}
