.login_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.google_SI {
  box-shadow: none;
  filter: drop-shadow(3px 3px 2px rgba(66, 107, 105, 0.2));
}
