.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgupload_placeholder {
  width: 250px;
  height: 100px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-accent-bright);
}

.input__text {
  border: none;
  border-radius: var(--border-radius-small);
  width: 15rem;
  height: 30px;
  padding: 0.5rem;
  font-size: 0.6rem;
}
